{{ $letters := split .Inner "|" }}
{{ $index := .Position }} <!-- Get the index of the shortcode -->
{{ $id := printf "letters-%d" $index }} <!-- Use the index for a unique ID -->
<div class="kids-letters" id="{{ $id }}">
  {{ range $letters }}
    <span>{{ . }}</span>
  {{ end }}
</div>

<script defer>
  document.getElementById("{{ $id }}").querySelectorAll("span").forEach(function (el) {
    el.addEventListener("click", () => {
      el.classList.toggle("highlighted");
    });
  });
</script>
